:root {
  --primary-color-text: #757575;
  --accent-color: #2196f3;
  --bgd-color: #ffffff;
  --bgd-color-footer: #2f303a;
  --color-link: #212121;
  --logo-color-span: #000000;
  --setion-bgd-team: #f5f4fa;
  --color-border: #eeeeee;
  --color-line-header: #ececec;
  --color-border-client: #AFB1B8;
  --background-acid: rgba(47, 48, 58, 0.8);
  --background-portfolio-subtext: rgba(33, 150, 243, 0.9);
  --background-modal: rgba(0, 0, 0, 0.2);
  --border-modal: rgba(0, 0, 0, 0.1);
  --timing-funcion: cubic-bezier(0.4, 0, 0.2, 1);
}

/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  box-sizing: border-box;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size (opinionated).
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
}

/*
Sections
========
*/
/**
1. Remove the margin in all browsers.
2. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  margin: 0;
  /* 1 */
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  /* 2 */
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  width: 480px;
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

body {
  color: var(--primary-color-text);
  background-color: var(--bgd-color);
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  min-width: 480px;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.logo {
  color: var(--accent-color);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}
.logo span {
  color: var(--logo-color-span);
}

@media screen and (max-width: 767px) {
  .header-page {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

@media screen and (max-width: 767px) {
  .header__wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
@media screen and (min-width: 768px) {
  .header__wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

@media screen and (min-width: 768px) {
  .header-all {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.header__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--color-link);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms var(--timing-funcion);
}
.header__link:hover, .header__link:focus {
  color: var(--accent-color);
}

.header__nav .header__link.current {
  color: var(--accent-color);
}

.lex {
  position: relative;
}

.current::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

@media screen and (max-width: 767px) {
  .header__nav {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .header__nav {
    display: flex;
    margin-left: 88px;
  }
}
@media screen and (min-width: 1200px) {
  .header__nav {
    display: flex;
    margin-left: 93px;
  }
}

.header__nav .lex + .lex {
  margin-left: 50px;
}

.icon-nav {
  fill: var(--primary-color-text);
  margin-right: 10px;
  transition: fill 250ms var(--timing-funcion);
}

.auth__link {
  display: flex;
  align-items: center;
  color: var(--primary-color-text);
  font-weight: 500;
  transition: color 250ms var(--timing-funcion);
}
@media screen and (min-width: 768px) {
  .auth__link:not(:last-child) {
    margin-bottom: 10px;
  }
}
.auth__link:hover, .auth__link:focus {
  color: var(--accent-color);
}

.auth__link:hover svg,
.auth__link:focus svg {
  fill: var(--accent-color);
}

@media screen and (max-width: 767px) {
  .header-page .auth__nav {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .header-page .auth__nav {
    margin-left: auto;
  }
}
@media screen and (min-width: 1200px) {
  .header-page .auth__nav {
    display: flex;
    margin-left: auto;
  }
}

@media screen and (min-width: 1200px) {
  .auth__nav .head + .head {
    margin-left: 50px;
  }
}

.header-page--border {
  border-bottom: 1px solid var(--color-line-header);
}

.hero-section {
  margin-left: auto;
  margin-right: auto;
  background: var(--bgd-color-footer);
  text-align: center;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/Hero-mobile/Header\ img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-width: 480px;
  padding: 118px 60px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .hero-section {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/Hero-mobile/Header\ img@2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero-section {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/Hero-tablet/Header\ img.jpg);
    min-width: 768px;
    padding: 118px 204px;
  }
}
@media screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero-section {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/Hero-tablet/Header\ img@2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero-section {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/hero.jpg);
    min-width: 1200px;
    padding: 200px 0;
    height: 600px;
    max-width: 1600px;
  }
}
@media screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero-section {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/hero\ @2x.jpg);
  }
}

.hero-section__title {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  color: var(--bgd-color);
  font-weight: 900;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  width: 360px;
  font-size: 26px;
  line-height: 1.6;
}
@media screen and (min-width: 1200px) {
  .hero-section__title {
    width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero-section__btn {
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 216px;
  text-align: center;
  border: 1px solid transparent;
  color: var(--bgd-color);
  background-color: var(--accent-color);
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .detail__section {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .detail__section {
    display: flex;
    justify-content: space-between;
  }
}

.detail__items {
  width: 450px;
}
@media screen and (min-width: 768px) {
  .detail__items {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .detail__items {
    width: 270px;
  }
}

.icon__box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  height: 120px;
  background-color: var(--setion-bgd-team);
  width: 450px;
}
@media screen and (min-width: 768px) {
  .icon__box {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .icon__box {
    width: 270px;
  }
}

.icon__detail {
  width: 70px;
  height: 70px;
}

@media screen and (min-width: 1200px) {
  .detail__items + .detail__items {
    margin-left: 30px;
  }
}

.detail__title {
  margin-top: 0;
  margin-bottom: 10px;
  color: var(--color-link);
  font-weight: 700;
  font-size: 14px;
}
@media screen and (max-width: 767px) {
  .detail__title {
    text-align: center;
  }
}

.detail__text {
  margin-top: 0;
  color: var(--primary-color-text);
  font-size: 14px;
}
@media screen and (max-width: 767px) {
  .detail__text {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 1199px) {
  .work-section {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .work-section {
    padding-top: 0;
    padding-bottom: 94px;
  }
}

.work__title {
  margin-top: 0;
  margin-bottom: 50px;
  color: var(--color-link);
  font-weight: 700;
  font-size: 36px;
  text-align: center;
}

.work__items {
  position: relative;
  justify-content: space-between;
}

.work__img {
  display: block;
  max-width: 100%;
  height: auto;
}

.work__aside {
  color: var(--bgd-color);
  width: 370px;
  height: 70px;
  background-color: var(--background-acid);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0px;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0;
}

.team-section {
  background-color: var(--setion-bgd-team);
}

.team__title {
  margin-top: 0;
  margin-bottom: 50px;
  color: var(--color-link);
  font-weight: 700;
  font-size: 36px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .team__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .team__list {
    justify-content: space-between;
  }
}

.team__item {
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  text-align: center;
  background-color: var(--bgd-color);
  width: 450px;
}
@media screen and (max-width: 767px) {
  .team__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team__item {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .team__item {
    width: 270px;
  }
}

.team__img {
  margin-bottom: 30px;
  width: 100%;
}

.team__name {
  margin-top: 0px;
  margin-bottom: 10px;
  color: var(--color-link);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

.team__text {
  margin-top: 0px;
  color: var(--primary-color-text);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
}

@media screen and (max-width: 1199px) {
  .client__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .client__list {
    display: flex;
  }
}

@media screen and (min-width: 1200px) {
  .client__items + .client__items {
    margin-left: 30px;
  }
}

.client__link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 92px;
  border: 1px solid var(--color-border-client);
  border-radius: 4px;
  transition: border-color 250ms var(--timing-funcion);
}
@media screen and (max-width: 767px) {
  .client__link {
    width: 210px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .client__link {
    width: 226px;
  }
}
@media screen and (min-width: 1200px) {
  .client__link {
    width: 170px;
  }
}
.client__link:hover, .client__link:focus {
  border-color: var(--accent-color);
}

.client__icon {
  fill: var(--color-border-client);
  transition: fill 250ms var(--timing-funcion);
}
.client__link:hover .client__icon, .client__link:focus .client__icon {
  fill: var(--accent-color);
}

.social {
  display: flex;
  margin: 0 122px 24px;
  justify-content: space-between;
}
@media screen and (min-width: 768px) {
  .social {
    margin: 0 74px 24px;
  }
}
@media screen and (min-width: 1200px) {
  .social {
    margin: 16px 32px 30px;
  }
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background-color 250ms var(--timing-funcion);
}
.social__link:hover, .social__link:focus {
  background-color: var(--accent-color);
}

.social__icon {
  fill: var(--color-border-client);
  width: 20px;
  height: 20px;
}
.social__link:hover .social__icon, .social__link:focus .social__icon {
  fill: var(--bgd-color);
}

.btn-nav {
  border-radius: 4px;
  border: 1px solid transparent;
  padding: 6px 22px;
  min-width: 73px;
  text-align: center;
  color: var(--color-link);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  transition: color 250ms var(--timing-funcion), background-color 250ms var(--timing-funcion), box-shadow 250ms var(--timing-funcion);
}
.btn-nav:hover, .btn-nav:focus {
  padding: 6px 22px;
  color: var(--bgd-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.btn-m + .btn-m {
  margin-left: 8px;
}

.portfolio__link {
  display: block;
  width: 370px;
  transition: box-shadow 250ms var(--timing-funcion);
}
.portfolio__link:hover, .portfolio__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.btn-nav,
.hero__btn {
  cursor: pointer;
}

.portfolio__img {
  display: block;
  margin-bottom: 0px;
}

.portfolio__title {
  margin-top: 0px;
  margin-bottom: 4px;
  color: var(--color-link);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio__text {
  margin-top: 0;
  margin-bottom: 0;
  color: var(--primary-color-text);
  font-size: 16px;
  line-height: 1.9;
}

.wraper {
  position: relative;
  overflow: hidden;
}

.portfolio__subtext {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: scale(0);
  color: var(--bgd-color);
  background: var(--background-portfolio-subtext);
  margin: 0;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.56;
  overflow: hidden;
  transition: transform 250ms var(--timing-funcion);
}

.portfolio__link:hover .portfolio__subtext,
.portfolio__link:focus .portfolio__subtext {
  transform: scale(1);
}

.frame {
  border: 1px solid var(--color-border);
  border-top: transparent;
  padding: 20px 24px;
}

.portfolio-list-btn {
  justify-content: center;
}

.portfolio__list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 30px;
  -moz-column-gap: 30px;
       column-gap: 30px;
}

.portfolio-nav {
  margin-bottom: 50px;
}

.footer {
  background-color: var(--bgd-color-footer);
  padding-bottom: 60px;
  padding-top: 60px;
}

.footer-logo {
  margin-bottom: 20px;
  display: inline-block;
}

span.studio,
.adress__text {
  color: var(--bgd-color);
}

@media screen and (max-width: 1199px) {
  .footer-adress {
    text-align: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-adress {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;
  }
}
@media screen and (min-width: 1200px) {
  .footer-adress {
    align-items: baseline;
    display: flex;
  }
}

/* Footer-social */
.footer__social {
  margin-left: 70px;
  width: 206px;
}
@media screen and (max-width: 767px) {
  .footer__social {
    margin: 60px auto;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__social {
    margin: 0;
  }
}

.social__list {
  display: flex;
  margin-top: 20px;
}

.social__link--grey {
  background: rgba(255, 255, 255, 0.1);
}

.social__icon--white {
  fill: var(--bgd-color);
}

.social__item + .social__item {
  margin-left: 10px;
}

/* Footer title */
.footer__title {
  margin: 0;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--bgd-color);
}

/* Footer address */
.adress {
  font-style: normal;
}

.adress__text {
  margin-bottom: 9px;
  margin-top: 0;
}

/* Footer nav */
.footter-auth-link,
.footer {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
}

.footter-auth-link:hover,
.footter-auth-link:focus {
  color: var(--accent-color);
}

.auth__nav--mobile {
  display: inline-block;
}

@media screen and (max-width: 1199px) {
  .auth__link {
    display: block;
  }
}

.nav-item {
  margin-bottom: 9px;
}

@media screen and (max-width: 1199px) {
  .footer__form {
    width: 450px;
    margin-top: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__form {
    min-width: 570px;
    margin-left: auto;
  }
}

.form__title {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--bgd-color);
  margin-bottom: 20px;
}

.form__in {
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: var(--bgd-color-footer);
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  padding: 15px;
  margin-right: 12px;
  color: var(--bgd-color);
  outline: none;
}
@media screen and (max-width: 1199px) {
  .form__in {
    width: 100%;
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .form__in {
    width: 358px;
  }
}

.form__btn {
  display: inline-flex;
  width: 200px;
  background-color: var(--accent-color);
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 10px 28px;
  justify-content: center;
  align-items: center;
  color: var(--bgd-color);
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  transition: box-shadow 250ms var(--timing-funcion);
  cursor: pointer;
}
.form__btn:hover, .form__btn:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.icon__send {
  width: 24px;
  height: 24px;
  margin-left: 10px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--background-modal);
  width: 100%;
  height: 100%;
  opacity: 1;
  transition: opacity 250ms var(--timing-funcion);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) translateX(-100%);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) translateX(0);
  width: 528px;
  height: 581px;
  background: var(--bgd-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
  transition: transform 250ms var(--timing-funcion);
}

.modal__auth {
  display: flex;
  flex-direction: column;
}

.modal__title {
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  color: var(--color-link);
  text-align: center;
  margin-bottom: 12px;
}

.modal__auth label {
  display: block;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--primary-color-text);
}

.form__text {
  display: inline-block;
  margin-bottom: 4px;
}

.modal__input {
  position: relative;
  display: flex;
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  height: 40px;
  padding: 12px 42px;
  transition: 250ms var(--timing-funcion);
  outline: none;
}
.modal__input:hover, .modal__input:focus {
  border-color: var(--accent-color);
}

.modal__wraper {
  position: relative;
  margin-bottom: 10px;
}

.form__icon {
  width: 18px;
  height: 18px;
  padding: 2px;
  position: absolute;
  bottom: 11px;
  left: 12px;
}

.modal__input:hover + .form__icon,
.modal__input:focus + .form__icon {
  fill: var(--accent-color);
}

textarea {
  display: flex;
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  height: 120px;
  transition: 250ms var(--timing-funcion);
  margin-bottom: 20px;
  resize: none;
}

textarea:hover,
textarea:focus {
  border-color: var(--accent-color);
}

textarea::-moz-placeholder {
  color: rgba(117, 117, 117, 0.502);
}

textarea:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.502);
}

textarea::placeholder {
  color: rgba(117, 117, 117, 0.502);
}

.modal__privacy {
  margin-bottom: 30px;
}

.privacy__label {
  display: flex;
  justify-content: center;
  align-items: center;
}

.check {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 16px;
  height: 15px;
  border: 2px solid var(--color-link);
  border-radius: 2px;
  margin-right: 8px;
  transition: 250ms var(--timing-funcion);
}
.check:checked {
  background-image: url(../../images/icon-check.svg);
  border-color: var(--accent-color);
  background-size: contain;
  background-origin: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.check:checked + span {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.privacy__link {
  color: var(--accent-color);
  text-decoration: underline;
}

.modal-form-btn {
  display: block;
  margin: 0 auto;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.modal__btn {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 8px;
  margin-right: 8px;
  width: 30px;
  height: 30px;
  border: 1px solid var(--border-modal);
  border-radius: 50%;
  background: var(--bgd-color);
  cursor: pointer;
  transition: 250ms var(--timing-funcion);
}

.icon__clos {
  width: 11px;
  height: 11px;
}
.modal__btn:hover .icon__clos, .modal__btn:hover .icon__clos {
  fill: var(--accent-color);
}

.menu-btn {
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}

.menu-btn .icon-cross {
  display: none;
}

.menu-btn.is-open .icon-cross {
  display: block;
}

.menu-btn.is-open .icon-menu {
  display: none;
}/*# sourceMappingURL=main.css.map */