@import './utils/variables';
@import "./utils/mod.normal";
@import "./components/body";
@import "./section/logo";
@import "./section/page-header";
@import "./section/hero";
@import "./section/section__details";
@import "./section/section__work";
@import "./section/team__section";
@import "./section/section__client";
@import "./components/social";
@import "./section/portfolio";
@import "./section/footer";
@import "./section/footer__form";
@import "./section/modal";
@import "./components/menu-mobile";
