.footer__form {
    @media screen and (max-width: 1199px) {
        min-width: 100%;
    }

    @media screen and(min-width: 1200px) {
        min-width: 570px;
        margin-left: auto;
    }
    
}

.form__title {
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--bgd-color);
    margin-bottom: 20px;

}

.form__in {

    @media screen and (max-width: 1199px) {
        width: 100%;
        margin-bottom: 20px;
    }
    
    @media screen and(min-width: 1200px) {
        width: 358px;
    }
    
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    background-color: var(--bgd-color-footer);
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    padding: 15px;
    margin-right: 12px;
    color: var(--bgd-color);
    outline: none;
}

.form__btn {
    display: inline-flex;
    width: 200px;
    background-color: var(--accent-color);
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 10px 28px;
    justify-content: center;
    align-items: center;
    color: var(--bgd-color);
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.06em;
    transition: box-shadow 250ms var(--timing-funcion);
    cursor: pointer;

    &:hover,
    &:focus {
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    }
}

.icon__send {
    width: 24px;
    height: 24px;
    margin-left: 10px;
}