.footer {
    background-color: var(--bgd-color-footer);
    padding-bottom: 60px;
    padding-top: 60px;
}

.footer-logo {
    margin-bottom: 20px;
    @media screen and(min-width: 1200px) {
        display: inline-block;
    }
    
}

span.studio,
.adress__text {
    color: var(--bgd-color);
}

.footer-adress {
    @media screen and(min-width: 480px) and (max-width: 1199px)  {
        text-align: center;
    }
    @media screen and(min-width: 768px) and (max-width: 1199px) {
        display: flex;
    }
    @media screen and(min-width: 1200px) {
        align-items: baseline;
        display: flex;
    }
    
}

/* Footer-social */
.footer__social {
    margin-left: 70px;
    width: 206px;
    @media screen and(min-width: 480px) and (max-width: 767px)  {
        margin: 60px auto;
    }
    @media screen and(min-width: 768px) and (max-width: 1199px) {
        margin: 0;
    }
    
}

.social__list {
    display: flex;
    margin-top: 20px;
}

.social__link--grey {
    background: rgba(255, 255, 255, 0.1);
}

.social__icon--white {
    fill: var(--bgd-color);
}

.social__item+.social__item {
    margin-left: 10px;
}

/* Footer title */

.footer__title {
    margin: 0;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--bgd-color);
}

/* Footer address */
.adress {
    font-style: normal;
}

.adress__text {
    margin-bottom: 9px;
    margin-top: 0;
}

/* Footer nav */
.footter-auth-link,
.footer {
    color: rgba(255, 255, 255, 0.6);
    font-weight: 400;
}

.footter-auth-link:hover,
.footter-auth-link:focus {
    color: var(--accent-color);
}

.auth__nav--mobile {
    display: inline-block;
}

.auth__link {
    @media screen and(min-width: 480px) and (max-width: 1199px) {
        display: block;
    }
}

.nav-item {
    margin-bottom: 9px;
}