.header-page {
    @media screen and (max-width: 767px) {
    position: relative;
    padding-top: 16px;
    padding-bottom: 16px;
    }

}

.header__wrap {

    @media screen and (max-width: 767px) {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    @media screen and (min-width: 768px) {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.header-all {  

    @media screen and (min-width: 768px) {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
}

.header__link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    color: var(--color-link);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    transition: color 250ms var(--timing-funcion);

    &:hover,
    &:focus {
        color: var(--accent-color);
    }
}

.header__nav .header__link.current {
    color: var(--accent-color);
}

.lex {
    position: relative;
}

.current::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-color);
}

.header__nav {

    @media screen and(max-width: 767px) {
        display: none;
    }

    @media screen and(min-width: 768px) {
        display: flex;
        margin-left: 88px;
    }

    @media screen and(min-width: 1200px) {
        display: flex;
        margin-left: 93px;
    }
}

.header__nav .lex+.lex {
    margin-left: 50px;
}

.icon-nav {
    fill: var(--primary-color-text);
    margin-right: 10px;
    transition: fill 250ms var(--timing-funcion);
}

.auth__link {
    @media screen and(min-width: 768px) {
        &:not(:last-child) {
            margin-bottom: 10px;
        } 
    }
    display: flex;
    align-items: center;
    color: var(--primary-color-text);
    font-weight: 500;
    transition: color 250ms var(--timing-funcion);

    &:hover,
    &:focus {
        color: var(--accent-color);
    }
}

.auth__link:hover svg,
.auth__link:focus svg {
    fill: var(--accent-color);
}

.header-page .auth__nav {
    @media screen and (max-width: 767px) {
        display: none;
    }

    @media screen and(min-width: 768px) {
         margin-left: auto;
    }

    @media screen and(min-width: 1200px) {
        display: flex;
        margin-left: auto;
    }
    
}


.auth__nav .head+.head {
    @media screen and(min-width: 1200px) {
        margin-left: 50px;
    }
    
}

.header-page--border {
    border-bottom: 1px solid var(--color-line-header);
}