.client__list {

    @media screen and (max-width: 1199px) {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
    }

    @media screen and(min-width: 1200px) {
        display: flex;
    }
    
}

.client__items+.client__items {

    @media screen and(min-width: 1200px) {
        margin-left: 30px;
    }
    
}

.client__link {
    @media screen and (max-width: 767px) {
        width: 210px;
    }

    @media screen and(min-width: 768px) and (max-width: 1199px) {
        width: 226px;
    }

    @media screen and(min-width: 1200px) {
        width: 170px;
    }
    display: flex;
    justify-content: center;
    align-items: center;
    
    height: 92px;
    border: 1px solid var(--color-border-client);
    border-radius: 4px;
    transition: border-color 250ms var(--timing-funcion);

    &:hover,
    &:focus {
        border-color: var(--accent-color);
    }
}

.client__icon {
    fill: var(--color-border-client);
    transition: fill 250ms var(--timing-funcion);

    .client__link:hover &,
    .client__link:focus & {
        fill: var(--accent-color);
    }
}


