.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

.detail__section {
    @media screen and(min-width: 768px) and (max-width: 1199px) {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
    }

    @media screen and(min-width: 1200px) {
        display: flex;
        justify-content: space-between;
    }
    
}

.detail__items {

    @media screen and(min-width: 480px) {
        width: 450px;
    }

    @media screen and(min-width: 768px) {
        width: 354px;
    }

    @media screen and(min-width: 1200px) {
        width: 270px;
    }
    
}

.icon__box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    height: 120px;
    background-color: var(--setion-bgd-team);

    @media screen and(min-width: 480px) {
        width: 450px;
    }

    @media screen and(min-width: 768px) {
        width: 354px;
    }

    @media screen and(min-width: 1200px) {
        width: 270px;
    }
    
    
}

.icon__detail {
    width: 70px;
    height: 70px;
}

.detail__items+.detail__items {
    @media screen and(min-width: 1200px) {
        margin-left: 30px;
    }
    
}

.detail__title {
    margin-top: 0px;
    margin-bottom: 10px;
    color: var(--color-link);
    font-weight: 700;
    font-size: 14px;

    @media screen and(min-width: 480px) {
        text-align: center;
    }
}

.detail__text {
    @media screen and(min-width: 480px) {
        margin-bottom: 30px;
    }
    margin-top: 0px;
    margin-bottom: 0px;
    color: var(--primary-color-text);
    font-size: 14px;
}